# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# IMPORTS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
##import("utils") # Not yet, because there is a conflict with
##                # timestamp() exported by R.utils.
##importFrom("utils", packageDescription)

import("R.utils")
##importFrom(R.utils, cat)

import("R.rsp")


# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# EXPORTS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Object that must exported explicitly
export(.conflicts.OK) 
export(.Machine)

# Export all public methods, that is, those without a preceeding dot
# in their names.
exportPattern("^[^\\.]")
