# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# IMPORTS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
importFrom("R.methodsS3", "setMethodS3")
importFrom("R.methodsS3", "throw")
importFrom("R.methodsS3", "appendVarArgs")

importFrom("R.oo", "Package")
importFrom("R.oo", "startupMessage")
importFrom("R.oo", "setConstructorS3")
importFrom("R.oo", "extend")
importFrom("R.oo", "uses")
importFrom("R.oo", "Object")
importFrom("R.oo", "Interface")
importFrom("R.oo", "Class")
importFrom("R.oo", "newInstance")
importFrom("R.oo", "getStaticInstance")
importFrom("R.oo", "getKnownSubclasses")
importFrom("R.oo", "objectSize")
importFrom("R.oo", "trim")
importFrom("R.oo", "clearCache")
importFrom("R.oo", "clone")
importFrom("R.oo", "dimension")
importFrom("R.oo", "equals")
importFrom("R.oo", "getName")
importFrom("R.oo", "getPath")
# Until R.oo (>= 1.15.3) is available
importFrom("R.oo", "uses.character")


##importFrom("utils", "packageDescription")
import("R.utils")

importFrom("R.cache", "loadCache")
importFrom("R.cache", "saveCache")
##importFrom("R.cache", "getChecksum")

import("R.filesets")
importFrom("R.devices", "png2")

importFrom("utils", "capture.output")

importFrom("matrixStats", "colWeightedMeans")
importFrom("matrixStats", "colWeightedMedians")
importFrom("matrixStats", "colMedians")
importFrom("matrixStats", "rowMedians")

importFrom("R.rsp", "rspToHtml")

importFrom("PSCBS", "plotTracksManyChromosomes");


# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# EXPORTS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Object that must exported explicitly
export(.conflicts.OK)
export(.Machine)

# Export all public methods, that is, those without a preceeding dot
# in their names.
exportPattern("^[^\\.]")



# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# DECLARATIONS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
S3method("getParameters", "ParametersInterface");
S3method("getParameterSets", "ParametersInterface");
S3method("getParametersAsString", "ParametersInterface");

S3method("doCBS", "default");

