# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# IMPORTS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
importFrom("R.methodsS3", "setMethodS3")
importFrom("R.methodsS3", "throw")
import("R.oo")

##importFrom("utils", "packageDescription")
import("R.utils")

importFrom("R.cache", "loadCache")
importFrom("R.cache", "saveCache")
##importFrom("R.cache", "getChecksum")

import("R.filesets")
importFrom("R.devices", "png2")

import("matrixStats")
## As soon as 'matrixStats' declares all S3 methods
## (not the case in matrixStats v0.8.5)
## importFrom("matrixStats", "colWeightedMeans")
## importFrom("matrixStats", "colWeightedMedians")
## importFrom("matrixStats", "colMedians")
## importFrom("matrixStats", "rowMedians")

importFrom("R.rsp", "rspToHtml")

importFrom("PSCBS", "plotTracksManyChromosomes");


# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# EXPORTS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Object that must exported explicitly
export(.conflicts.OK)
export(.Machine)

# Export all public methods, that is, those without a preceeding dot
# in their names.
exportPattern("^[^\\.]")



# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# DECLARATIONS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
S3method("getParameters", "ParametersInterface");
S3method("getParameterSets", "ParametersInterface");
S3method("getParametersAsString", "ParametersInterface");

S3method("doCBS", "default");

